/* Google Font */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5f7fb;
    color:#222;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:#0f172a;
    color:#fff;
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:700;
}

.logo i{
    color:#38bdf8;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:30px;
}

.navbar a{
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:.3s;
}

.navbar a:hover{
    color:#38bdf8;
}

/* Hero */

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(135deg,#2563eb,#06b6d4);
    color:white;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    max-width:700px;
    margin:auto;
    line-height:1.7;
}

.hero input{
    margin-top:35px;
    width:600px;
    max-width:90%;
    padding:18px;
    border:none;
    border-radius:50px;
    font-size:18px;
    outline:none;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

/* Mobile */

@media(max-width:768px){

.navbar{
flex-direction:column;
gap:15px;
}

.navbar ul{
flex-wrap:wrap;
justify-content:center;
}

.hero h1{
font-size:36px;
}

.hero p{
font-size:17px;
}

}
